body {
	font-family: 'Roboto Slab', serif;
	background-color:rgba(128, 0, 145, 0.5);
    text-align: center;
}

.points,
.lives,
.level {
	padding-right: 40px;
}

.title {
	padding-top: 70px;
	font-size: 20px;
	color: 	darkgray;
}
.blue {
    padding-top: 70px;
	font-size: 20px;
	color: 	blue;	
}
.green {
    padding-top: 70px;
	font-size: 20px;
	color: 	green;	
}
.orange {
    padding-top: 70px;
	font-size: 20px;
	color: 	orange;	
}
.water {
    padding-top: 70px;
	font-size: 20px;
	color: 	lightblue;	
}